:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 0.7);
}

body {
	background-color: rgb(240, 243, 246);
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

@font-face {
	font-display: swap;
	font-family: ui-icons;
	src: url(/ui-icons.woff2) format('woff2'), url(/ui-icons.woff) format('woff');
}
